@import "tailwindcss";

:root {
  --background-color: #ffffff;
  --background-color-2: #dddddd;
  --foreground-color: #000000;
  --foreground-color-2: #222222;
  
  --font-sans: 'Helvetica', 'Arial',sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --background-color-2: #222222;
    --foreground-color: #ffffff;
    --foreground-color-2: #dddddd;
  }
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
}

input, textarea, select {
  @apply border-b-2 border-[var(--foreground-color)] text-xl outline-none p-1;
}

button {
  @apply px-4 py-2 font-bold cursor-pointer;

  background: var(--foreground-color);
  color:      var(--background-color);
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

button:active {
  @apply bg-[var(--foreground-color-2)];
}

button.mini {
  @apply px-2 py-1 text-xs;
}

label {
  @apply text-xs;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-3xl;
}
